body {
  background: rgb(15, 237, 45);
  margin-top: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, sans-serif;
  text-shadow: 1px 1px 1px rgb(90, 19, 161);
}
.checked{
    text-decoration: line-through;
}